@model IEnumerable<DonateForGood.Models.NGORegistration>

@{
    ViewBag.Title = "List of NGOs";
}
<div id="wrapper" class="row">
    <div id="page-wrapper" class="col-md-12">
        <div class="row page-header">
            <div class="col-md-12">
                <h3>List of NGOs</h3>
            </div>            
        </div>
        

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    <div id="thumbnails">
                        @if (item.Photo != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" height="138" width="150" />
                        }
                        else
                        {
                            <img src="~/Images/NoImage.jpg" height="138" width="150" />
                        }
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            @{
                                string NGOName = item.FirstName;
                            }

                            @Html.ActionLink(@NGOName, "Details", new { id = item.UserId })
                        </div>
                        <div class="panel-body">
                            <div class="col-md-5">Phone: @Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                            <div class="col-md-5 col-md-push-1">Email:@Html.DisplayFor(modelItem => item.EmailAddress)</div>

                        </div>
                        <div class="panel-footer">
                            <div class="col-md-5">City: @Html.DisplayFor(modelItem => item.CityName)</div>
                            <div class="col-md-5 col-md-push-1">
                                @{
                                    var link = @item.WebSiteURL;
                                    if (link != null && !link.StartsWith("http://")) link = "http://" + link;
                                }
                                Website:<a href="@link">@item.WebSiteURL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>