@model DonateForGood.Models.NGORegistration
          

@{
    ViewBag.Title = "NGO Registration page";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NGO Registration</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div title="Login Details">
            <p>Login Details</p>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.SecurityQuestionID, "SecurityQuestion ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SecurityQuestionID", "Select your Security Question")
                    @Html.ValidationMessageFor(model => model.SecurityQuestionID)
                </div>
            </div>

            
            <div class="form-group">
                @Html.LabelFor(model => model.SecurityAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecurityAnswer)
                    @Html.ValidationMessageFor(model => model.SecurityAnswer)
                </div>
            </div>

        </div>



        <div title="NGO Details">
            <p>Description of the NGO</p>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName,"NGO Name", htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WebSiteURL,"NGO Website URL", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WebSiteURL)
                    @Html.ValidationMessageFor(model => model.WebSiteURL)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber,"Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactNumber1,"Alternate Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactNumber1)
                    @Html.ValidationMessageFor(model => model.ContactNumber1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonName,"Contact Person", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactPersonName)
                    @Html.ValidationMessageFor(model => model.ContactPersonName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress,"Email Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailAddress)
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Address1, "Address Line 1",htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address1)
                    @Html.ValidationMessageFor(model => model.Address1)
                </div>
            </div>




            <div class="form-group">
                @Html.LabelFor(model => model.Address2, "Address Line 2", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address2)
                    @Html.ValidationMessageFor(model => model.Address2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Landmark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Landmark)
                    @Html.ValidationMessageFor(model => model.Landmark)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LocationId, "Location ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LocationId", "Select Location")
                    @Html.ValidationMessageFor(model => model.LocationId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CityId, "City ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CityId","Select City")
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Zipcode)
                    @Html.ValidationMessageFor(model => model.Zipcode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StateId, "State ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StateId", "Select Country")
                    @Html.ValidationMessageFor(model => model.StateId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryId, "Country", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CountryId", "Select Country")
                    @Html.ValidationMessageFor(model => model.CountryId)
                </div>
            </div>

           

            

            <div class="form-group">

    @using (Html.BeginForm("FileUpload", "NGODetailsController", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-offset-2">
                            <span> Add Picture</span>
                            <p>
                                <input type="file" id="fileUpload" name="fileUpload" />
                                <input type="submit" value="Upload Picture" />
                            </p>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}

