@model IEnumerable<DonateForGood.Models.NGODetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WebSiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber1)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landmark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WebSiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber1)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landmark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.User.UserId }) |
            @Html.ActionLink("Details", "Details", new {  id=item.User.UserId  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.User.UserId })
        </td>
    </tr>
}

</table>
