@model DonateForGood.Models.Kudo

@{
    ViewBag.Title = "Edit Success Story";
}

<h3>Edit</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Kudo</h3>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.KudosId)

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo)
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGOUserId, "NGOUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NGOUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.NGOUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemPostId, "ItemPostId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemPostId", String.Empty)
                @Html.ValidationMessageFor(model => model.ItemPostId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
